/* start reCAPTCHA styles */

form>div {
    margin:1.25em;
}

/* writes to small text above reCAPTCHA upon failure */

.dateFeedback{
    font-style:italic;
    font-size:75%;
    font-weight:bold;
    color:green;
}

input:required {
      border: 2px solid green;
}

 input:optional, textarea:optional {
     background-color:#f1f1f1;
     border:2px solid rgb(145, 145, 145)
}

input[type="submit"], input[type="button"] {
  background-color: #fff;
  border-radius: 6px;
  border: solid 2px rgb(145, 145, 145);
  padding: 0.35em 0.55em;
}

fieldset {
  border: 2px solid rgb(145, 145, 145);
  max-width: 400px;
}

legend {
  margin-left: 0.55em;
  padding: 0.25em 0.55em;
  border-left: 2px solid rgb(145, 145, 145);
  border-right: 2px solid rgb(145, 145, 145);
}



/* end reCAPTCHA styles */


/* keeps form from bunching up to left */
@media all and (min-width:501px){
  div.wrapper form{
      margin-left:22.8px;

  }
}
